
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Toastr
@import "~toastr/package/toastr.scss";

//Select 2
@import "~select2/dist/css/select2.min";

//font-awesome -- fa icon
@import "~font-awesome/scss/font-awesome";

//Navbar Atas
nav{
  background-color: $bg-navbar;
  .container{
    background-color: $bg-navbar;
    button{
      span{
        background-color: lighten($bg-navbar, 30%);
      }
    }
    a{
      color: $color-navbar;
    }
    .navbar-toggle{
      color: $color-navbar;
      background-color: lighten($bg-navbar, 10%);
    }
    .nav{
      li{
        border-right: 1px solid $split-navbar;
        a{
          color: $color-navbar;
          background-color: $bg-navbar;
        }
        a:hover, a.active, a:focus{
          background-color: darken($bg-navbar, 10%);
        }
        ul{
          background-color: lighten($bg-navbar, 10%);
          li{
            background-color: lighten($bg-navbar, 10%);
            a{
              background-color: lighten($bg-navbar, 10%);
            }
          }
        }
      }
      li:last-child{
        border-right: 0px;
      }
      li.open{
        background-color: darken($bg-navbar, 10%);
      }
    }
  }
}

footer{
  margin-top: 51px;
  //padding: 10px;
  background-color: $bg-navbar;
  border-top: 5px solid $split-navbar;

  .container{

    .nav{
      display: block;
      overflow-x: auto;
      overflow-y: hidden;

      li{
        border-right: 1px solid $split-navbar;
        display: inline;
        //width: 70px;
        a{
          text-align: center;
          padding-bottom: 5px;
          color: $color-navbar;

          i{
            font-size: 20px;
            position: relative;
          }
          small{
            display: block;
            position: relative;
            text-transform: uppercase;
            text-wrap: none;
            font-weight: 600;
          }
          span{
            position: absolute;
            font-size: 60%;
            display: inline;
            right: 10px;
            top: 10px;
          }
        }
        a:hover, .active, a:focus{
          background-color: darken($bg-navbar, 10%);
        }

      }
      li:last-child{
        border-right: 0px;
      }
    }
  }

}

//text Pengumuman
.text-slider{
  bottom: 65px;
  background-color: lighten($bg-navbar, 30%);
  color: $color-navbar;
  .info{
    color: #3097D1;
  }
  .danger{
    color: #bf5329;
    font-weight: 900;
  }
}

#app-main{
  margin-top: 20px;
  min-height: 600px;
  //background-color: #e9f4eb;
  .panel-body{
    padding: 0px;
  }
  
  .control-table{
    display: flex;
    div.form-group{
      margin-right: 10px;
      margin-bottom: 10px;
    }
    div.form-group:last-child{
      margin-right: 0px;
    }
  }

  table{
    font-family: $font-family-table;
    margin-bottom: 0px;
    thead{
      background-color: lighten($bg-navbar, 40%);
      color: lighten($color-navbar, 10%);
      tr{
        th:first-child.no, th.no{
          width: 50px;
        }
        th:last-child.action, th.action{
          width: 15%;
        }
      }
    }

    td.no{
      width: 50px;
    }

  }

  .pagination{
    margin: 0px;
  }
  .clearfix-top{
    height: 51px;
  }
  .clearfix-bottom{
    height: 70px;
  }
}

//Modal
.modal{
  vertical-align: middle;
  .modal-dialog{

    .modal-content{
      border-radius: 0px;

      a.close, button.close{
        position: absolute;
        right: -12.5px;
        top: -12.5px;
        display: block;
        //text-indent: -9999px;
        width: 28px;
        height: 28px;
        font-size: 30px;
        background: #000;
        opacity: 1;
        color: #fff;
        border-radius: 18px;
        border: 2px solid #fff;
        font-size: 12px;
      }

      a.error, button.error{
        background: #bf5329;
      }

      a.warning, button.warning{
        background: #cbb956;
      }

      a.info, button.info{
        background: #7da8c3;
      }
      
      .modal-header{
        padding: 10px;
      }
      .modal-body{
        padding: 5px 10px;
        .form-group:last-child{
          margin-bottom: 2px;
        }
      }
      .modal-footer{
        padding: 10px;
      }
    }
  }
}
#modal-siswa.in ~ .modal-backdrop.in {
  background-color: #f00;
  z-index: 1055;
}

//Control-panel
.control-panel{
  div{
    padding: 10px;
    //margin: 10px;
    .box-item{
      vertical-align: middle;
      color: #000;
      height: 100px;
      strong{
        font-size: 30px;
        display: block;
      }
      small{
        font-size: 20px;
      }
      i{
        float: right;
        font-size: 80px;
      }
    }

  }
  .primary{background-color: #3097D1;}
  .info{background-color: #8eb4cb;}
  .success{background-color: #2ab27b;}
  .warning{background-color: #cbb956;}
  .danger{background-color: #bf5329;}
}


//Form-modal-header
//.vue-form-generator{
//  @extend .form-horizontal;
//
//  .form-group{
//    @extend .form-group-sm;
//
//    label{
//      @extend .control-label;
//      @extend .col-xs-3;
//    }
//
//    .field-wrap{
//      @extend .col-xs-9;
//    }
//
//    .help-block{
//      margin-left: 27%;
//    }
//  }
//}

//Tab Cicle
.tabs-nav{
  margin-bottom: 20px;

  li.active, li:active, li:hover{
    a, a:active, a:focus{
      background-color: #fff;
      border-color: none;
    }
  }
  li{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-positive: 1;
    flex-grow: 1;
    a{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0;
      margin: 0 auto;
      color: rgba(0,0,0,.2);
      position: relative;
      top: 3px;

      .tab-icon-circle{
        margin: 5px auto;
        font-size: 18px;
        border: 3px solid lighten($bg-navbar, 40%);
        border-radius: 50%;
        font-weight: 600;
        width: 70px;
        height: 70px;
        background-color: lighten($bg-navbar, 40%);
        position: relative;
        justify-content: center;
        display: -webkit-box;
        /* display: -ms-flexbox; */
        /* display: flex; */
        /* -webkit-box-pack: center; */
        /* -ms-flex-pack: center; */
        /* justify-content: center; */
        -ms-flex-line-pack: center;
        align-content: center;
        align-items: center;

        .tab-icon-container{
          display: flex;
          justify-content: center;
          -webkit-box-flex: 1;
          flex: 1;
          border-radius: 40%;

          .tab-icon{
            color: #fff;
            font-size: 24px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            /* align-items: center; */
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            transition: all .2s linear;
            align-items: center;
          }
        }
      }

      span{
        color: lighten($bg-navbar, 40%);
      }
    }
  }

  li.active{
    a{
      .tab-icon-circle{
        background-color: $bg-navbar;
        border: 3px solid $bg-navbar;
      }
      span{
        color: $bg-navbar;
      }
    }
  }
  li:after{
    border-right: 2px solid #000;
  }
}


//Loading
.v-spinner{
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 1102;
}
.loading-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: #000;
}
.loading-backdrop.in{
  opacity: 0.5;
}